body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system,Microsoft Yahei,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    background-color:#f2f5f6;
}


div{
    display: block;
}

a{
    color:white;
    text-decoration: none;
    cursor:pointer;
}

a:hover{
    color:#ff5d23;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

li{
    outline:none;
    list-style:none;
}

h1, h2, h3, h4, h5, h6, p, pre{
    margin:0;
}

h1, h2, h3, h4, h5, h6{
    font-size:12px;
    font-weight:400;
}

svg {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    pointer-events: visibleStroke;
}

/*top nav css*/

#Topper{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0)), url(images/topper%E8%83%8C%E6%99%AF.webp);
/*    background: linear-gradient(180deg,rgba(0,0,0,.5),hsla(0,0%,100%,0));*/
    display:block;
    background-repeat: no-repeat;
    background-position:50%;
    background-size:cover;
    max-height:472px;
    margin-bottom:40px;
}

#logo svg{
    width:76px;
    height: 68px;
    vertical-align: middle;
}

@media only screen and (max-width:1430px){
    #Topper{
        height:472px;
    }
}

@media only screen and (max-width:1740px){
    #Topper{
        height:568px;
    }
}

#Nav *{
    display:inline-block;
}

#Nav {
    width:960px;
    position:relative;
    margin: 0 auto;
    height:68px;
    top:-10px;
}

.navBut li{
    margin: 0 4px;
}

.navBut #fp{
    color:#ff5d23;
}

.navBut .long{
    width:64px;
    padding-left:10px;
}

.navBut{
    color:white;
    padding-left:10px;
}

.navBut a{
    width:46px;
    font-size:16px;
    vertical-align: middle;
    text-align: center;
    height:36px;
    max-height:68px;
    line-height: 36px;
    margin: 16px 0;
}

.navBut a:hover{
    color:#ff5d23;
}

#leftTopper{
    float:left;
    max-height: 68px;
    margin-top:10px;
}

#rightTopper{
    float:right;
    max-height: 68px;
}

#searchArea{
    position:relative;
    top:10px;
    left:10px;
    float:left;
    background-color:white;
    padding:0 16px;
    height:36px;
    width:108px;
    margin:16px 8px 0 0;
    border-radius:100px;
    transition: width .2s;
}
#searchBox{
    display:inline-block;
    float:left;
    height:36px;
    line-height:36px;
    font-size:12px;
    background:none;
    border:none;
    outline:none;
    width:80%;
    color: rgba(0,0,0,.7);
}

#searchIcon{
    display:inline-block;
    width:15px;
    float:right;
    position:relative;
    top:-33px;
}

#searchIcon svg{
    width:15px;
    height:15px;
    color: rgba(0,0,0,.4);
    vertical-align: -3px;
}

.navIcon{
    margin-top:-14px;
}

.navIcon svg{
    width: 20px;
    height: 20px;
    display:block;
    margin-bottom: -20px;
}

.navIcon p{
    font-size:12px;
    margin-top:-10px;
    padding-top:-10px;
}

#client{
    margin-left:-17px;
}

#login{
    vertical-align: middle;
}


#player{
    padding-right: 176px;
    width: 960px;
    height:441px;
    position:relative;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    background-color:rgba(0,0,0,.8);
}

#player #mainPlayer{
    display:block;
    width:784px;
    height:441px;
    background-image:url(images/player1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 0 0 8px;
}

#player #slider{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:176px;
    height: 100%;
}

#slider ul{
    height:100%;
    width: 176px;;
    padding: 10px 0;
    box-sizing: border-box;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider-item{
    width:100%;
    height:16.6%;
    padding-top:3.2%;
    box-sizing:border-box;
}

/* #slider #player1{
    box-sizing: border-box;
    border:3px solid #ff5d23;
} */

#a1{
    border-right: 8px solid #ff5d23;
}

.slider-img{
    width:146px;
    height:65px;
    border:none;
    border-radius: 4px;
    overflow:hidden;
    margin:0 auto;
    position:absolute;
    left:17px;
    cursor: pointer;
}

.slider-img img{
    width:100%;
    height:100%;
}

.slider-img:hover .slider-border{
    display:block;
}

.arrow{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid transparent;
    left: 9px;
    position:relative;
    top:25px;;
}

#player1 .slider-border{
    display:block;
}

.slider-border{
    display:none;
    width: 146px;
    height: 65px;
    border: 3px solid #ff5d23;
    border-radius:4px;
    box-sizing: border-box;
    position:absolute;
    left:0;
    top:0;
}

#slider li{
    margin-top:-7px;
}


/*main content css*/
.mainContent div{
    display:block;
}


.layout1{
    width:960px;
    height:311px;
    margin:0 auto;
}

.layout1-part{
    float:left;
    display:inline-block;
    vertical-align: top;
    text-align: left;
    font-size:12px;
    letter-spacing: 0;
    width:312px;
    height:311px;
    margin-right:12px;
}

#jdwz{
    margin-right:0;
}

.layout1-header{
    padding: 6px 0 10px 0;
    height:36px;
    line-height:1;
}

.layout1-header div{
    display:inline-block;
}

.layout-icon img{
    width:36px;
    height:100%;
    padding-right: 6px;
}

.layout-icon a{
    display:block;
}

.layout-icon{
    height:100%;
}

.layout-head{
    height:100%;
}

.layout-head h2 a{
    font-size:20px;
    color:#222;
    height:100%;
}

.layout-head h2{
    font-size:20px;
    color:#222;
    margin:0;
    height:100%;
}

#tjhd h2{
    font-size:20px;
    color:#222;
}

.layout-head h2 a:hover{
    color:#ff5d23
}

.layout-head{
    margin-right:16px;
    vertical-align:middle;
    height:100%;
    padding-bottom: 13px;
    
}

.layout-info{
    color:#999;
    vertical-align: -webkit-baseline-middle;
    height:100%;
}

.layout1-content{
    width:312px;
    height:251px;
}

.layout-player{
    width:152px;
    height:121.5px;
    margin-bottom: 8px;
    background-color:white;
    display:inline-block;
    border-radius: 8px;
    padding-right:2px;
    overflow:hidden;
}

.layout-a{
    color:#333;
}

.layout-a:hover .layout-title h3{
    color:#ff5d23;
}

.layout-a:hover .layout-img{
    transform:scale(1.1,1.1);
}

.layout-pic{
    height:86px;
    overflow:hidden;
    margin-bottom:5px;
}

.layout-img{
    width:100%;
    height:100%;
    transition: 0.1s transform;
    overflow:hidden;
}

.layout-img img{
    width:100%;
    height:100%;
}

.layout-title h3{
    color:#212224;
    font-size:14px;
    display:block;
    padding-right:5px;
    line-height:24px;
    font-weight:500;
    margin:0;
    text-align: center;
}


.layout1-part.sub1{
    width:300px;
    height:340px;
}


.layout1-part.sub1 .layout1-content{
    border-radius:6px;
    background-color:white;
    width:100%;
    height:280px;
}

#xw .layout1-content{
    margin-right:10px;
}

#sptj{
    margin:0;
}

#tjhd{
    width:336px;
}


#tjhd .layout1-content{
    width:336px;
    height:280px;
    margin-top:-9px;
}

.main-player{
    width: 100%;
    height: 100%;
    overflow:hidden;
    border-radius: 6px;
    position:relative;
}

#full-items{
    width: 300%;
    height: 100%;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    transform:translateX(0%);
    transition: transform 0.3s ease 0s;
}

.tjhd-player{
    width:336px;
    height: 280px;
    position:relative;
}

#tjhd .layout1-content img{
    position:relative;
    height:100%;
    width:100%;
}

.tjhd-img-title{
    width: 60%;
    height: 20px;
    position: absolute;
    left: 12px;
    bottom: 10px;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-dot{
    position: absolute;
    right:10px;
    bottom:10px;
}

.dots{
    cursor:pointer;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    float:left;
    margin-left: 8px;
}

.dots.is-selected{
    width: 12px;
    border-radius: 3px;
    background: #f50;
}

.a-more{
    color:#666;
    margin-right:12px;
}

.layout-more{
    float:right;
    margin-top:17px;
}

.hotNewsIcon, .hotNewsTitle{
    display:inline-block;
}

.hotNews{
    border-bottom:1px solid #eee;
    padding-bottom: 5px;
}

.a-hotNews:hover .hotNewsTitle{
    color:#ff5d23;
}

.a-normalNews:hover .normalNewsContent{
    color:#ff5d23;
}

.hotNewsTitle{
    width:236px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size:14px;
    color:#333;
    float:left;
    font-weight: 700;
    margin-top:-3px;
    margin-left:8px;
}

.hotNewsIcon{
    width:36px;
    height:16px;
    float:left;
}

.hotNewsIcon img{
    width:100%;
    height:100%;
}

.news-content{
    width:100%;
    height:100%;
    position:relative;
    background:white;
    border-radius:6px;
    padding: 0 10px;
    box-sizing:border-box;
}

.hotNewsModule{
    width:100%;
    height:30.3%;
    padding-top:6%;
    margin-top:-8px;
    display:block;
}

.hotNewsSecond{
    display:block;
    font-size:12px;
    color:#999;
    width:100%;
    height:20px;
    text-align: left;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    padding-top:2px;
}

.normalNews{
    height:44%;
    padding: 3% 0;
    box-sizing:border-box;
}

.normalNewsModule{
    color:#666;
    height:25%;
}

.normalNewsTitle{
    float:left;
    margin-right: 5px;
}

.normalNewsContent{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.videoList{
    height:670px;
    width:288px;
    background-color:white;
}

.videoModule{
    display:inline-block;
    width:280px;
    height:64px;
    background-color:white;
    margin-bottom:4px;
}

.videoModule div{
    display:inline-block;
    vertical-align: middle;
    font-size:12px;
}

.sptj-content{
    width:300px;
    height:280px;
    height:100%;
    box-sizing: border-box;
    padding: 12px 2px 12px 10px;
}

.videoImg img{
    width:110px;
    height:64px;
    
}

.videoPic{
    overflow: hidden;
    position:relative;
    width:110px;
    height:64px;
    border-radius:4px;
    color:#fff;
}

.videoIndex, .videoTime{
    position:absolute;
    text-align: center;
}

.videoIndex{
    top:0;
    left:0;
    width: 20px;
    height:14px;
    line-height:14px;
    border-radius:4px 0;
    background-color:#b9b9b9;
}

.a-video:first-child .videoIndex{
    background-color: #ff5249;
}

.a-video:nth-child(2) .videoIndex{
    background-color: #ff7f29;
}

.a-video:nth-child(3) .videoIndex{
    background-color: #fcc54e;
}

.videoTime{
    bottom:5px;
    right:5px;
    padding:2px;
    height:12px;
    line-height: 12px;
    border-radius:2px;
    background-color:rgba(0,0,0,.5);
}


.videoContent{
    width:150px;
    height:64px;
    padding-left:10px;
}

.layout1-content.video{
    transform:translateY(-8px);
}

.a-video:hover .videoTitle{
    color:#ff5d23;
}

.videoTitle{
    margin: 4px 0;
    max-height:32px;
    line-height:16px;
    font-weight:600;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
/*
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
*/
}

.videoInfo{
    height:24px;
    line-height:24px;
    font-size:0;
}

.videoInfoIcon{
    width:20px;
    height:20px;
    border-radius:50%;
    overflow: hidden;
    margin-right:2px;
}

.videoInfoIcon img{
    width:100%;
    height:100%;
}

.videoInfoName{
    width:124px;
    color:#999;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

/*
.sptj-content:hover video-scrollBar{
    display:block;
}
*/

.layout-container{
    height:inherit;
    width:960px;
}

.fullBack{
    width:100%;
    min-height:324px;
    margin: 36px 0 4px;
}

.layout2{
    width:960px;
    height:463.88px;
    margin:auto;
    text-align: left;
}

.layout2-part{
    float:left;
    width:100%;
}

.layout2-header{
    padding:14px 0 10px 0;
    height:36px;
    width:100%;
    line-height:1;
    text-align: left;
}

.layout2-header div{
    display:inline-block;
}

.layout2-content{
    width:100%;
}

.layout-extra{
    float:right;
}

.liveLabel{
    color:#999;
}

.liveNum{
    color: #ff5d23;
}

.split{
    display:inline-block;
    line-height:24px;
    vertical-align: bottom;
    margin:0 14px;
    width:1px;
    height:10px;
    background-color:#9e9fa0;
}

.layout-live{
    padding-top:16px;
}

.layout-list{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
    height:403.875px;
    width:100%;
    padding:0;
    margin-top:0;
}

.layout-list-item{
    margin-bottom:12px;
    width:231px;
    height:195.9375px;
    border-radius:6px;
    background-color:#fff;
    overflow:hidden;
}

.layout2-pic{
    display:block;
    position:relative;
    width:100%;
    height: 129.94px;
    overflow:hidden;
}

.layout2-img{
    width:100%;
    height:100%;
    transition: 0.1s transform;
}

.layout2-img img{
    width:100%;
    height:100%;
}

.layout-a:hover .layout2-img{
    transform:scale(1.1,1.1);
}

.layout2-description{
    padding:9px 10px;
}

.layout2-title{
    height:24px;
}

.layout2-type{
    color: #888;
    font-size:12px;
    line-height:24px;
    float:right;
}

.layout2-title h3{
    display:block;
    padding-right:5px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size:15px;
    line-height:24px;
    color: #212224;
    font-weight: 500;
    margin:0;
}

.layout2-hot{
    float:right;
    color:#888;
    font-size:12px;
    line-height:24px;
}

.layout2-icon{
    display:inline-block;
    width:12px;
    height:12px;
    margin-right:6px;
}

.layout2-title.second{
    color: #888;
    font-size:12px;
    line-height: 24px;
}

.layout2-title.second h2{
    display:block;
    padding-right:5px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-weight:500;
    margin:0;
}

.layout-a:hover .layout2-title h3{
    color:#ff5d23;
    width:215px;
    
}

.layout-a:hover .layout2-type{
    display:none;
}


#yzns{
    background-image: url(images/yzns_background.webp);
    min-height: 324px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.pic-container{
    height:324px;
    width: 960px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;

}

.square{
    width: 160px;
    height: 162px;
    overflow: hidden;
    margin: 0;
}

.square>.layout-a:hover>.layout2-img, .double-square>.layout-a:hover>.layout2-img{
    transition: 0.4s transform;
}

#yzns .layout-a:hover .face-info{
    transform: translateY(-35px);
}

#yzns-title:hover{
    background-color: #fab614;
}

.square-cover{
    background:url(images/square_cover.webp) no-repeat 0;
    background-size: 101% 101%;
    position: absolute;;
    width: 160px;
    height: 162px;
    z-index:1;
}

.double-square-cover{
    background:url(images/double_square_cover.webp) no-repeat 0;
    background-size: 101% 101%;
    position: absolute;;
    width: 320px;
    height: 162px;
    z-index:1;
}

.face-info{
    position:relative;
    bottom: 27px;
    text-align: left;
    z-index:2;
    box-sizing: border-box;
    width: 100%;
    padding:0 12px;
    transition: 0.3s transform;
}


.face-name, .face-hot{
    display: inline-block;
    max-width:50%;
}

.face-name{
    font-size:14px;
    color:white;
    float:left;
}

.face-hot{
    float:right;
    font-size: 12px;
}

.face-hot, .face-second{
    color:hsla(0,0%,100%,.6);
}

.face-icon, .yzns-icon{
    background-image: url(images/yzns_icon.webp);
}

.face-icon{
    background-size: 1333.33% 1166.67%;
    background-position: 0 -128px;
    width: 12px;
    height: 12px;
    display: inline-block;
    line-height: 18px;
    margin-right: 4px;
    transform: translateY(1px);
}

.face-first{
    height:20px;
}

.face-name, .face-second{
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.face-second{
    display:block;
    font-size: 14px;
    margin-top: 16px;
}

.double-square{
    position: relative;;
    width: 320px;
    height: 162px;
    overflow: hidden;
    margin: 0;
}

#yzns-title{
    background-color: #f1bc44;
}

.yzns-icon{
    width: 135px;
    height: 108px;
    position: absolute;
    right: -25px;
    bottom: 3px;
    background-position: 0 0;
    background-size: cover;
}

.yzns-content{
    padding-left: 25px;
    padding-top: 22px;
    text-align: left;
    color:white;
}

.yzns-content h2{
    font-size: 34px;
    line-height: 40px;
}

.yzns-content h3{
    font-size:24px ;
    margin-top: 20px;
    line-height: 36px;
}

.yzns-content h4{
    font-size: 14px;
}

.yzns-more{
    position: absolute;
    right: 16px;
    bottom: 7px;
    color:#7e5801;
    font-size: 14px;
}

.fullBack#rmfl{
    margin-top:26px;
    height:418px;
    background-image: url(images/fix_background.webp);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#rmfl .layout2{
    height: 418px;
}

#rmfl .layout-extra{
    float:none;
    vertical-align: top;
}

#rmfl .liveLabel,#rmfl .a-more,#rmfl .layout-head>h2>a{
    color: hsla(0,0%,100%,.9);
}

#rmfl .a-more:hover,#rmfl .layout-head>h2>a:hover{
    color: #ff5d23;
}


.layout-categories{
    margin-top:8px;
    margin-bottom:18px;
    height:332px;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size: 0;
    padding:0;
}

.layout-categories-item{
    margin-bottom: 12px;
    width: 126px;
    height: 160px;
    border-radius:14px;
}

.layout-categories-item>a{
    background: url(images/categories_item_background.webp) 50%/cover;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.layout-categories-item>a:hover {
    background: url(images/categories_item__hover_background.webp) 50%/cover;
}

.categories-icon{
    position: relative;
    overflow: hidden;
    width: 82px;
    height: 82px;
    margin:10px auto 0;
}

.categories-icon img{
    width:100%;
    height: 100%;
}

.categories-title{
    font-size:16px;
    line-height: 24px;
    margin-top: -4px;
}

.categories-info{
    margin-top: -2px;
    color:#909090;
    font-size: 12px;
    letter-spacing: 0;
}

#jchd{
    margin:26px 0 4px;
    background-color: #ecf1f8;
    height:269px;
}

#jchd .layout2{
    height:inherit;
    background: url(images/jchd_background.webp) no-repeat;
    background-position-x: 700px;
}

#jchd .layout-list-item{
    margin-bottom: 12px;
    width: 182.4px;
    height: 177.296px;
}

#jchd .layout2-description{
    padding: 2px 10px;
}

.layout2-ad{
    position: absolute;
    width: 25px;
    height: 15px;
    top: 6px;
    left: 6px;
    background: url(images/ad_icon.png) no-repeat;
}

#jchd .layout2-pic .layout2-img{
    height: 122px;
    width: 100%;
    overflow:hidden;
}

.txt-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#jchd h3, #jchd p{
    line-height: 18px;
    max-width: 90%;
    text-align: left;
}

#jchd h3{
    color:#333;
    font-size:14px;
    margin:0;
}

#jchd p{
    color:#888;
    font-size:12px;
    margin:0;
}

#jchd a:hover h3{
    color:#ff5d23;
}

.layout2:not(:first-child){
    margin-top:4px;
}

#part_jdqs{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}


.layout2-container.layout2-withRank{
    height:100%;
    width: 717px;
}

.layout2-rank{
    width:231px;
    height:inherit;
}

.layout-more>.a-more.active{
    color:#ff5d23;
}

#weekRank{
    margin:0;
}

#splitRank{
    margin:0 5px;
}

.layout2-rank .layout2-content{
    background-color: #fff;
    border-radius:6px;
    position:static;
    top:60px;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

.layout-rank-list{
    margin:15px 0;
    height: 330px;
}

.layout-rank-more{
    height: 44px;
    line-height: 44px;
    display:block;
    background-color: #eceff3;
    text-align: center;
    color: #67686a;
}

.layout-rank-item{
    height: 66px;
    overflow: hidden;
}

.rankNum{
    height: 66px;
    line-height: 66px;
    float:left;
    width: 40px;
    text-align: center;
}

.rankOne,.rankTwo,.rankThree,.rankIsUp,.rankIsDown,.rankUnChange{
    background-image: url(images/rank_icon_list.webp);
    background-repeat: no-repeat;
}

.rankOne,.rankTwo,.rankThree{
    position:relative;
    top:5px;
    width: 22px;
    height: 22px;
}

.rankOne{
    background-size: 285.71% 247.62%;
    background-position: 0 0;
}

.rankTwo{
    background-size: 285.71% 247.62%;
    background-position: -21px 0;
}

.rankThree{
    background-size: 285.71% 247.62%;
    background-position: 0 -21px;
}

.rankNum>span{
    display: inline-block;
}

.normalRank{
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    background-color: #b9b9b9;
    color: #fff;
    text-align: center;
}

.layout2-rank a{
    color:#333;
    height:100%;
}

.layout-rank-item>a:hover>.rankName{
    color:#ff5d23;
}

.rankIcon{
    width: 44px;
    height: 44px;
    float:left;
    position:relative;
    top:10px;
}

.rankIcon img{
    position:relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:50%;
}

.live-icon{
    background-image: url(images/live_icon.gif);
    position:absolute;
    width: 20px;
    height: 19px;
    right: -4px;
    bottom: 0;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius:50%;
}


.rankName{
    line-height: 66px;
    height: 66px;
    max-width: 94px;
    margin-left: 8px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size:14px;
}

.rankChange{
    height: 66px;
    float: right;
    padding-right: 12px;
    width: 18px;
    display: inline-block;
    line-height: 66px;
}

.rankIsUp, .rankIsDown, .rankUnChange{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.rankUnChange{
    background-size: 333.33% 288.89%;
    background-position: -42px -18px;
}

.rankIsUp{
    background-size: 333.33% 288.89%;
    background-position: -42px 0;
}

.rankIsDown{
    background-size: 333.33% 288.89%;
    background-position: -21px -21px;
}

#part_gfhd{
    height: inherit;
}

#part_gfhd .layout2-header{
    padding-top:20px;
}
#part_gfhd .layout-list{
    height:97.02px;
}

#part_gfhd .layout-list-item{
    height: 100%;
}

#part_gfhd .layout-list-item img{
    height: 100%;
    width: 100%;
    transition: 0.4s filter;
}


#part_gfhd .layout-list-item a:hover img{
    filter:brightness(75%);
}


/* left side bar css */
#left-sideBar{
    position: fixed;
    top:40%;
    right:50%;
    display:none;
    border-radius:6px;
    background-color: #fff;
    margin-right:500px;
}
.left-sideBar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 86px;
    border-radius:6px;
    background-color: #fff;
    box-shadow:0 0 3px #ccc;
    overflow: hidden;
    padding: 0;
    margin:0;
}

.left-sideBar-item{
    min-width: 100%;
    height:40px;
    font-size: 12px;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
    box-sizing: border-box; 
}

.grey{
    background-color: #f6f6f6;
}

.left-sideBar-item i{
    height: 40px;
    line-height: 40px;
    color:#000;
    padding: 0 10px;
    font-style: normal;
}

a:hover .left-sideBar-item i{
    color:#ff5d23;
}

a:hover .left-sideBar-item.is-active i{
    color:white;
} 

.left-sideBar-item.is-active{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/left_sidebar_1.webp");
    background-size: 107px 58px;
    background-position: -11px -9px;
}


.left-sideBar-item.is-active i{
    color:white;
    font-style: italic;
}

.seperator{
    display:none;
    height:12px;
    border-right: 3px solid white;
    position:relative;
    left:8px;
    top:1px;
}

.seperator:first-child{
    display:inline-block;
}

/* right side bar css */
#right-sideBar{
    position:fixed;
    right:-1px;
    bottom:100px;
    width: 45px;
    height:290px;
}

.right-sideBar-list{
    width: 100%;
    margin-top: 8px;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}

.right-sideBar-item{
    position:relative;
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 12px;
    position:relative;
}

.right-sideBar-icon{
    background-image: url("images/right_sidebar_icon.webp");
    background-size: 300% 300%;
    display: block;
    margin: 12px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}

.right-sideBar-text{
    padding: 5px;
    width: 36px;
    height: 36px;
    display: none;
    line-height: 18px;
    font-size: 12px;
    background-color: #ff5d23;
    color:#fff;
    text-align: center;
}

.right-sideBar-item a:hover .right-sideBar-icon{
    display:none;
}

.right-sideBar-item a:hover .right-sideBar-text{
    display:block;
}

#back-top a:hover .right-sideBar-icon{
    display:block;
    background-color: #ff5d23;
    background-position: 0 0;
}

#back-top a:hover .right-sideBar-icon{
    display:block;
    background-position: 0 0;
    margin:0;
    border-top:12px solid #ff5d23;
    border-right:12px solid #ff5d23;
    border-left:12px solid #ff5d23;
    border-bottom: 14px solid #ff5d23;
}

#back-top{
    display:none;
}

.right-sideBar-item a{
    display:block;
    position:absolute;
    top:0;
    height: 100%;
    width: 100%;
}

#r1 .right-sideBar-icon{
    background-position: 0 -44px;
}

#r2 .right-sideBar-icon{
    background-position: -44px -22px;
}

#r3 .right-sideBar-icon{
    background-position: -44px 0;
}

#r4 .right-sideBar-icon{
    background-position: -22px -22px;
}

#r5 .right-sideBar-icon{
    background-position: 0 -22px;
}

#back-top .right-sideBar-icon{
    background-position: -22px 0;
}

